.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  flex: 0 0 49%;
  flex-wrap: nowrap;
  flex-direction: column;

  a {
    display: flex;
    flex: 0 0 auto;
    align-self: center;
    margin-bottom: 15px;

    &:nth-child(2) {
      margin-bottom: 10px
    }
  }
}

.moreProjects {
  min-height: 75px;
  clear: both;
}
