html, body {
  padding:0;
  margin:0;
  font-family:"Raleway";
}

body {
  overflow-y: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

footer, .main {
  position:absolute;
  right:15%;
  left:15%;
}

.main {
  top:20%;
  text-align:center;
  transition: top 1s;
}

.main.raise {
  top:0;
}

footer {
  bottom:20px;
}

.mainLinks {
  padding-left:0;
  list-style:none;
}

.mainLinks li {
  display:inline-block;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
  color:black;
}

.pageLinks {
  overflow:hidden;
  position:absolute;
  top:-1500px;
  width:100%;
  transition: top 1s;
}

.pageLinks.lower {
  top: 150px;
}

.scroll {
  position: absolute;
  overflow-y: auto;
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
}

.socialLinks {
  list-style:none;
  width:325px;
  padding-left:0;
  margin:auto;
}

.socialLinks li {
  display:inline-block;
  margin-right:8px;
}

.socialLinks a {
  text-decoration:none;
}

.socialLinks .text {
  display:inline-block;
}

.socialLinks a:hover .text {
  text-decoration:underline;
  color:black;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex: 0 0 49%;
  flex-wrap: nowrap;
  flex-direction: column;
}

.project a {
  display: flex;
  flex: 0 0 auto;
  align-self: center;
  margin-bottom: 15px;
}

.project a:nth-child(2) {
  margin-bottom: 10px
}

.moreProjects {
  min-height: 75px;
  clear: both;
}

.footerLinkImg {
  background-repeat: no-repeat;
  padding:10px 0 10px 40px;
  background-image: url(//res.cloudinary.com/brian/image/upload/v1413764915/image_sprite.png);
}

.contact {
  background-position: -10px -10px;
}

.github {
  background-position: -10px -65px;
}

.linkedin {
  background-position: -10px -120px;
}

.blog-post-container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.monogram {
  width: 150px;
}

.titleText {
  display: block;
}

.recent-posts {
  width: 20%;
}

.header a {
  text-decoration: none;
}

.article {
  width: 80%;
}

.article h2, .recent-posts h2 {
  margin-top: 0;
}

@media all and (min-height:400px) {
  .main {
    top:30%;
  }
}

@media all and (min-height:500px) {
  .main {
    top:35%;
  }
}

@media all and (min-height:600px) {
  .main {
    top:37%;
  }
}

@media all and (min-width:768px) {
  .blog-post-container {
    width: 80%;
    text-align: left;
  }

  .titleText {
    display: inline;
    position: relative;
    top: -67px;
  }
}
